<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
  <div>
    <img src="../../assets/imgs/login.png" height="400px">
  </div>
    <div align='center'>
        <ion-item>
            <ion-input type="text" placeholder="phone" style="font-family: Montserrat" [(ngModel)]="phone"></ion-input>
          </ion-item>
      </div>
      <div align='center'>
          <ion-item>
              <ion-input type="Password" placeholder="Password" style="font-family: Montserrat" [(ngModel)]="Password"></ion-input>
            </ion-item>
        </div>

      <div align="center">
           <button ion-button normal (click)="login()" style="border-radius: 25px;background-color: #764ba2; margin-top:17%; font-family: Montserrat;padding-left: 20%; padding-right: 20%; ">Sign in</button>
          </div>
        
</ion-content>
