
<ion-content>
  <h1 align='center' style="font-family: Montserrat">Balance: </h1>
<h6 align='center'>{{this.balance}}</h6>


  <ion-list>
      <div align='center'>
          <ion-item>
              <ion-label style="font-family: Montserrat; color: #764ba2">price: </ion-label>
              <ion-input type="text" placeholder="Enter here" style="font-family: Montserrat" [(ngModel)]="qrData"></ion-input>
            </ion-item>
        </div>
</ion-list>
<div align="center">
    <button ion-button normal (click)="createCode()" style="border-radius: 25px;background-color: #764ba2; margin-top:2%; font-family: Montserrat; ">generate Code </button>
  </div>
   <div align = "center" style="margin-top: 20px;">
  <!-- <ion-card  style="max-width: 10%;"> -->
      <ngx-qrcode *ngIf="createdCode" [qrc-value]="createdCode"></ngx-qrcode>
      <!-- <ion-card-content> -->
        <!-- <p >Value: {{ createdCode }}</p> -->
      <!-- </ion-card-content> -->
    <!-- </ion-card> -->
  </div>
  <ion-list>
      <div align='center'>
          <ion-item>
              <ion-label style="font-family: Montserrat; color: #764ba2">secret: </ion-label>
              <ion-input type="text" placeholder="Enter here" style="font-family: Montserrat" [(ngModel)]="secNum"></ion-input>
            </ion-item>
        </div>
</ion-list>
<div align="center">
<button ion-button normal (click)="submitSecret()" style="border-radius: 25px;background-color: #764ba2; margin-top:2%; font-family: Montserrat; ">Submit</button>
</div>
</ion-content>
